.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 70%;
  margin: 0 auto;
  padding: 0.5rem;
  background-color: #fafafa;
}

.infoField {
  display: flex;
  flex-direction: column;
  margin: 0.7rem 0;
}

.infoField {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.fieldTitle {
  text-align: justify;
  font-weight: 500;
}

.fieldMsg {
  text-align: justify;
  font-weight: 300;
  text-decoration: none;
  color: black;
  margin-top: 0.5rem;
}
